.App {
  background-color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin: 1rem;
}
.form-group {
  margin: 1rem;
}
.form-group label {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}
.form-control {
  /* border: 2px solid red; */
  border-radius: 1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 90%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3rem;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.btn-primary {
  font-size: 1.5rem;
  padding: 0 2rem;
  background-color: rgb(157, 227, 227);
  border-radius: 1rem;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  transition: all 0.2s;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 1px solid red; */
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.setting-form-title {
  text-align: center;
  font-size: 1.5rem;
}
